.login {
  width: calc(100vw);
  height: calc(100vh);
  overflow: hidden;
  background-image: url('../../assets/images/login.svg');
  position: relative;
}
.login .login_panel {
  width: 400px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 0 3px 1px #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.login .login_panel .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
}
.login .login_panel .login_btn {
  width: 100%;
}
.login .login_panel .tools {
  text-align: right;
  color: #1890ff;
}
