.app_header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.app_header .trigger {
  font-size: 26px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.app_header .header_view {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.app_header .header_view .breadcrumb {
  line-height: 60px;
}
.app_header .header_view .user_info {
  margin-right: 20px;
}
.app_header .header_view .user_info .avatar {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  border-radius: 50%;
}
